<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="pipe_detection"
        args="load hector_pipe_detection/PipeDetectionNodelet standalone_nodelet" output="screen">
        <param name="debug" value="$(arg debug)"/>
        <remap from="image" to="/gripper_cam/image_raw"/>
  </node>

</launch>
