<?xml version="1.0"?>
<launch>

  <node pkg="hector_pipe_detection" type="hector_pipe_detection_node.py" name="pipe_detection_node" output="screen" respawn="true">
    <remap from="image" to="/arm_rgbd_cam/rgb/image_raw" />
    <remap from="camera_info" to="/arm_rgbd_cam/rgb/camera_info" />
    <remap from="enabled_status" to="/startup_check/pipe_detection/enabled_status" />
    <remap from="enabled" to="/startup_check/enabled" />
    
    <param name="enabled" value="true" />
  </node>

</launch>
