<?xml version="1.0"?>
<launch>
<node name="hector_detection_aggregator_node" pkg="hector_detection_aggregator" type="hector_detection_aggregator_node" respawn="true" output="screen">
<remap from="gripper_cam/image_raw" to="opstation/rgb/image_color" />
</node>
<rosparam file="$(find hector_detection_aggregator)/config/params.yaml" />
</launch>
