<?xml version="1.0"?>
<launch>
  <node name="bar_detection" pkg="hector_bar_detection" type="bar_detection_node.py" output="screen" respawn="true">
    <remap from="~front_image" to="arm_rgbd_cam/rgb/image_rect_color" />
    <remap from="~front_camera_info" to="/arm_rgbd_cam/rgb/camera_info" />		
    <remap from="~back_image" to="/ricoh_theta/pinhole_back" />
    <remap from="project_pixel_to_ray" to="/ricoh_theta_pinhole_front/project_pixel_to_ray" />
    <remap from="image_percept" to="image_percept_trash" />
    
    <param name="detection_frequency" value="1.0" />
    <param name="debug" value="true" />
  </node>
</launch>
