<?xml version="1.0"?>

<launch>

	<!-- Gripper -->

    <node name="hector_image_rotate_gripper" pkg="image_rotate" type="image_rotate" respawn="true"  output="screen">
      <remap from="image" to="/gripper_cam/image_raw" />
      <remap from="rotated/image" to="/gripper_cam/image_raw_rotated" />     
    </node>
    
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam_hector_image_rotate_gripper_loader" output="screen" args="load hector_image_rotate_gripper $(find hector_image_rotate)/cfg/hector_image_rotate_gripper.yaml" />


	<!-- RGB Cam -->

    <node name="hector_image_rotate_arm" pkg="image_rotate" type="image_rotate" respawn="true"  output="screen">
      <remap from="image" to="/arm_rgbd_cam/rgb/image_raw" />
      <remap from="rotated/image" to="/arm_rgbd_cam/rgb/image_raw_rotated" />     
    </node>
    
    <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam_hector_image_rotate_arm_loader" output="screen" args="load hector_image_rotate_arm $(find hector_image_rotate)/cfg/hector_image_rotate_arm.yaml" />
       
</launch>
