<?xml version="1.0"?>

<launch>
  
  <arg name="camera_nodelet_manager_name" default="thermal_cam_nodelet_manager" /> 
  <arg name="camera_ns" default="thermal_cam" /> 
  <arg name="image_topic" default="image_raw" />   
  
  <include file="$(find hector_thermal_image_conversion)/launch/heat_image_colorization_nodelet.launch">
    <arg name="camera_nodelet_manager_name" value="$(arg camera_nodelet_manager_name)"/>
    <arg name="camera_ns" value="$(arg camera_ns)" /> 
    <arg name="image_topic" value="$(arg image_topic)" />
  </include>
  
  <include file="$(find hector_thermal_image_conversion)/launch/heat_image_translation_nodelet.launch">
    <arg name="camera_nodelet_manager_name" value="$(arg camera_nodelet_manager_name)"/>
    <arg name="camera_ns" value="$(arg camera_ns)" /> 
    <arg name="image_topic" value="$(arg image_topic)" />
  </include>

</launch>

